doctype 5
html
	head
		title 404 Error
		
		//- CSS
		link(rel='stylesheet', href='/stylesheets/view.css')

		//- JS
		script(type='text/javascript',src='/javascripts/libs/jquery-1.7.2.min.js')
		script(type='text/javascript',src='/javascripts/libs/underscore-1.3.3.min.js')
		script(type='text/javascript',src='/javascripts/view/view.js')
		block more_js
	body
		
		div.container
			| 404 error


		block footer
			footer

